@import url(style.css);
h1{color: #fff;}
dl{background-color: rgb(132, 132, 245); width: 400px; height: 200px;
margin: 0 auto; padding: 20px; border-radius: 40px 40px; border: 5px solid #fff;}
div{width: 50%; padding: 30px; background-color: #fff; margin: 0 auto; 
    box-shadow: 5px 5px 10px #0e0e0eaa, 10px 10px 20px #ff0;}